@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent-50: #f0f7ff;
  --color-accent-100: #e0f2fe;
  --color-accent-200: #bae6fd;
  --color-accent-300: #7dd3fc;
  --color-accent-400: #38bdf8;
  --color-accent-500: #0ea5e9;
  --color-accent-600: #0284c7;
  --color-accent-700: #0369a1;
  --color-accent-800: #075985;
  --color-accent-900: #0c4a6e;
  --color-accent-950: #082f49;

  --color-background-light: oklch(92.9% 0.013 255.508);
  --color-background-dark: oklch(20.8% 0.042 265.755);

  --color-foreground-light: oklch(27.9% 0.041 260.031);
  --color-foreground-dark: oklch(92.9% 0.013 255.508);

  --transition-duration: 100ms;
}

@layer base {
  :root {
    --background: var(--color-background-light);
    --foreground: var(--color-foreground-light);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
    background-color: var(--background);
    color: var(--foreground);
    transition:
      background-color var(--transition-duration),
      color var(--transition-duration);
  }

  .dark {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
  }

  button {
    cursor: pointer;
  }
}
